<section id="resume" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-title">My Resume</h2>

                    <p class="section-subtitle">
                        If you call failures experiments, you can put them in your resume and claim them as achievements.
                    </p>

                    <span class="divider center"></span>
                </div>
                <!-- //.col-md-8 -->
            </div>
            <!-- //.row -->

            <!-- EDUCATION START -->
            <div class="row education">
                <div class="col-md-10 col-md-offset-1">
                    <h3>
                        My Education
                        <br>
                        2003 - 2012
                    </h3>

                    <div class="panel-group resume" id="education">
                        {% for e in educations %}
                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">{{ e.fromDate }} - {{ e.toDate }}</span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#education{{ e.id }}" data-toggle="collapse" data-parent="#education"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">{{ e.name }} - {{ e.schoolName }}</h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="education{{ e.id }}" class="panel-collapse collapse in">
                                        <div class="panel-body text-grey">
                                            <p>
                                                {{ e.description }}
                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                        {% endfor %}
                    </div>
                    <!-- //.panel-group -->
                </div>
                <!-- //.col-md-10 -->
            </div>
            <!-- //EDUCATION END -->

            <!-- WORK EXPERIENCE START -->
            <div class="row work-experience">
                <div class="col-md-10 col-md-offset-1">
                    <h3>
                        Work Experience
                        <br>
                        2006 - Now
                    </h3>

                    <div class="panel-group resume" id="work">
                        {% for w in work_experiences %}
                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">{{ w.fromDate }} - {{ w.toDate }}</span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#work{{ w.id }}" data-toggle="collapse" data-parent="#education"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">{{ w.name }} - {{ w.schoolName }}</h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="work{{ w.id }}" class="panel-collapse collapse in">
                                        <div class="panel-body text-grey">
                                            <p>
                                                {{ w.description }}                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                        {% endfor %}
                    </div>
                    <!-- //.panel-group -->
                </div>
                <!-- //.col-md-10 -->
            </div>
            <!-- //WORK EXPERIENCE END -->

            <!-- FREELANCE EXPERIENCE START -->
            <div class="row work-experience">
                <div class="col-md-10 col-md-offset-1">
                    <h3>
                        Freelance Experience
                        <br>
                        2006 - Now
                    </h3>

                    <div class="panel-group resume" id="freelance">
                        {% for f in freelance_experiences %}
                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">{{ f.fromDate }} - {{ f.toDate }}</span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#freelance{{ f.id }}" data-toggle="collapse" data-parent="#freelance"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">{{ f.name }} - {{ f.schoolName }}</h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="freelance{{ f.id }}" class="panel-collapse collapse in">
                                        <div class="panel-body text-grey">
                                            <p>
                                                {{ f.description }}                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                        {% endfor %}
                    </div>
                    <!-- //.panel-group -->
                </div>
                <!-- //.col-md-10 -->
            </div>
            <!-- //WORK EXPERIENCE END -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>